/*** web fonts ***/

@import url(https://fonts.googleapis.com/css?family=Lato:400);
@import url(https://fonts.googleapis.com/css?family=Luckiest+Guy:400);

/*** basic reset ***/

body, h1, h2, ul, ol {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', Arial, sans-serif;
  font-size: 1em;
  margin: 20px auto 0;
  width: 80%;
  background-color: #2d2d2d;
  color: darkgrey;
}

/* ==== nav and header styling ==== */

header h1 {
  font-family: 'Luckiest Guy', cursive;
  font-size: 2em;
}

header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  height: 70px;
}

@media (min-width: 768px) {
  header {
    flex-direction: row;
  }
  header h1 {
    font-size: 3em;
  }
}

nav {
  margin-top: .7em;
}

nav ul {
  display: flex;
  justify-content: space-between;
  width: 20em;
}

li {
  list-style-type: none;
}

nav a {
  background: #f48c42;
  border-radius: 4px;
  color: white;
  padding: 10px;
  text-decoration: none;
}

/*
main>h1 {
  width: 35%;
  margin: 1em auto;
}
*/

/* === main for small screen === */
main {
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

.spooky {
  font-size: 1.25em;
  padding-top: 2.25em;

}

div>div {
  padding: .5em;
}

div>img {
  width: 70%;
  height: auto;
}

div>h2 {
  width: 50%;
  margin: 0 auto;
}

/* === main for large screen === */
@media (min-width: 768px){
  main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-flow: wrap;
  }
  div>div {
    padding: .5em;
  }

  div>img {
    width: 70%;
    height: auto;
  }

  div>h2 {
    width: 50%;
    margin: 0 auto;
  }

  .creatures {
    display: flex;
  }
}
